/*---------------------------------------------------
         ------- Media-Query-Start-----------
 --------------------------------------------------- */

/***** SmartPhone*****/
@media screen and (max-width: 688px) {
    .container{
        width: 52%;
    }
    /*--------------------------------------------------
           --------- Header-Section-Start--------
    -------------------------------------------------- */
   .header-section{
       display: block;
   }

   .header-half-section h1{  
       font-size: 36px;
       margin-left: 50px;
   }

   .header-half-section a{
      margin-left: 100px;
      font-size: 22px;
   }
   .header-half-section > img{
       width: 429px;
       height: 320px;
       margin-top: 50px;
       margin-left: 0px;
       transition: transfrom 0s;
   }

/*--------------------------------------------------------
      ------------ player-section-Start----------
-------------------------------------------------------- */

   .players{
       display: grid;
       grid-template-columns: repeat(1 , 1fr);
       grid-row-gap: 24px;
   }
   .player{
       display: flex;
       flex-direction: column;
       align-items: center;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

   }
   .player-detail p{
       width: 300px;
   }

   /*--------------------------------------------------------------------
           -------------- Team-section-start--------
   -------------------------------------------------------------------- */
   .team-section{
       display: block;
       padding: 15px;
       border-radius: 5px;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .team-all-icons{
       display: flex;
       align-items: center;
   }

   .icon-detail{
       padding-left: 20px;
   }
   .team-img img{
       width: 95%;
       height: 100%;
   }

   /*----------------------------------------------------------------------------
           ------------ FIXTURES & RESULTS-SECTION-START-----------
   --------------------------------------------------------------------------- */
   .fixtures-featured{
       padding: 15px;
       display: block;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .date-football{
       margin-left: 10px;
       border: 2px solid #ddd;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .fixtures .results{
       margin-left: 70px;
   }
   .fixtures-video iframe{
       width: 310px;
       height: 300px;
   }
   .date-football p{
       padding: 7px 60px;
       margin-top: 0;
       margin-bottom: 0;
   }

}



/********** Tablet-Device **********/
@media screen and (min-width: 689px) and (max-width:992px) {
   .container{
       width: 75%;
   }
  .header-section{
      display: block;
  }

  .header-half-section h1{  
      font-size: 50px;
      margin-left: 150px;
  }

  .header-half-section a{
     margin-left: 150px;
     font-size: 22px;
  }
  .header-half-section > img{
      width: 529px;
      height: 320px;
      margin-top: 50px;
      margin-left: 150px;
      transition: transfrom 0s;
  }

/*--------------------------------
     --Main-Section-Start--
-------------------------------- */

  .players{
      display: grid;
      grid-template-columns: repeat(2 , 1fr);
      grid-row-gap: 24px;
  }
  .player{
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

  }
  .player-detail p{
      width: 300px;
  }


  
   /*--------------------------------------------------------------------
           -------------- Team-section-start--------
   -------------------------------------------------------------------- */
   .team-section{
       display: block;
       padding: 15px;
       border-radius: 5px;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .team-all-icons{
       display: flex;
       align-items: center;
   }

   .icon-detail{
       padding-left: 20px;
   }
   .team-img img{
       width: 95%;
       height: 100%;
   }

   /*-----------------------------------------------------------------------
           ------------ FIXTURES & RESULTS-SECTION-START-----------
   ---------------------------------------------------------------------- */
   .fixtures-featured{
       padding: 15px;
       display: block;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .fixtures .results{
       text-align: center;
   }
   .date-football{
       margin-left: 10px;
       border: 2px solid #ddd;
       box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   }
   .fixtures .results{
       margin-left: 70px;
   }
   .fixtures-video iframe{
       width: 95%;
       height: 300px;
   }
   .date-football p{
       text-align: center;
       margin-top: 0;
       margin-bottom: 0;
   }
}